
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

#description-wn {
    font-size: 37px;
}

.titlenot{
    font-family: "Oswald";
    font-size: 150px;
}
@media only screen and (max-width: 767px) {
    #description-wn {
      font-size: 18px; /* Tamaño de fuente más pequeño para dispositivos móviles */
    }
    .titlenot{
        font-size:70px;
    }
}
.tt-logo {
    width: 62px;
    height: 62px;
}