#description-wn {
    font-size: 37px;
}
@font-face {
    font-family: "Drakoheat";
    src: url("assets/font/Drakoheart Revofit comic-style.ttf") format(ttf);
}
.titlenot{
    font-family: "Drakoheat";
    font-size: 150px;
}
@media only screen and (max-width: 767px) {
    #description-wn {
      font-size: 23px; /* Tamaño de fuente más pequeño para dispositivos móviles */
    }
    .titlenot{
        font-size:100px;
    }
}
